/* common */
/* header, footer영역*/
@charset "UTF-8";

#container{
    position: relative;
    width: 100%;
}

/* * * * * header영역 * * * * */
header{
    position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid navy;
}
nav{
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
#tMenu{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
#tMenu li{
    float: left;
    width: 25%;
}
.tMenuSecond{
    display: none;
}
/*내 정보 영역. 로그인 하면 로그인 대신 보임*/
#myInfo{
    display: none;
}
.tMenuSecond li a{
    text-align: center;
}