/* common */
/* header, footer영역*/
@charset "UTF-8";

#container{
    position: relative;
    width: 100%;
     /* background: linear-gradient(135deg, #000 0%, #000 40%,
        #fff171 40%, #fff171 41%, #000 41%, #000 60%,  #990101 60%, #990101 61%, #777 61%, #777 100%); */
}

/* * * * * header영역 * * * * */
header{
    position: relative;
    width: 100%;
    height: 180px;
    background: linear-gradient(#780101 0%, #990101 100%) ;
}
h1{
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    text-align: center;
    top: 10px;
    color: #aaa;
}
nav{
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}
#tMenu{
    position: relative;
    width: 1000px;
    height: 50px;
    top: 80px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    clear: both;

}
#tMenu>li>a{
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
}
#tMenu>li:hover>a{
    text-shadow: 0 0 10px #fff171;
}
#tMenu>li{
    float: left;
    width: 25%;
    text-align: center;
}
#tMenu li a{
    font-family: "NanumEB";
    color: #fff;
}
.tMenuSecond{
    /* display: none; */
    position: absolute;
    display: inline-block;
    width: 500px;
    /* border: 1px solid yellow; */
    clear: both;
}
.tMenuInfo .tMenuSecond{
    left: -60px;
    top: 60px;
    display: none;
}
.tMenuBooking .tMenuSecond{
    left: 125px;
    top: 60px;
    display: none;
}
.tMenuCommu .tMenuSecond{
    width: 900px;
    left: 180px;
    top: 60px;
    display: none;
}
.tMenuMy .tMenuSecond{
    left: 750px;
    top: 60px;
}

.tMenuSecond li{
    display: inline-block;
    /* border: 1px solid #fff; */
}
.tMenuSecond li::after{
    content: "·";
    color: #fff;
}
.tMenuSecond li:last-child::after{
    content: "";
}
.tMenuSecond a{
    text-align: center;
    padding: 0 10px;
    margin: 0;
    /* display: inline-block; */
    /* width: 200px; */
}
/*내 정보 영역. 로그인 하면 로그인 대신 보임*/
#login{
    /* display: none; */
}
#myInfo{
    display: none;
}
.tMenuSecond li a{
    text-align: center;
}
/*검색 영역*/
form{
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
}
fieldset{
    width: 200px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
}
legend{
    display: none;
}
input, button{
    border: none;
    height: 25px;
    border-radius: 3px;
}
#search button{
    width: 20px;
    background-color: #fff;
}
.hidden{
    text-indent: -5px;
    overflow: hidden;
}
#search button img{
    position: relative;
    width: 20px;
    top: 5px;
}
