/* index */
@charset "UTF-8";

/* * * * * #nowShowing영역 * * * * */
#nowShowing{
    position: relative;
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}
h2{
    position: absolute;
    /* border: 3px solid #780101; */
    width: 500px;
    height: 150px;
    left: 50%;
    top: 30px;
    margin-left: -250px;
    text-align: center;
    line-height: 150px;
    font-family: "NanumEB";
    font-weight: bold;
    font-size: 50px;
    color: #990101; /* 이 부분 색은 나중에 다시*/
    /* text-shadow: 0 0 20px rgb(255, 255, 142), 0 0 50px #fff, 0 0 100px #fff; */
}
/* w전구w */
.bulbBox{
    display: flex;
    position: relative;
    width: 500px;
    left: 50%;
    top: 30px;
    margin-left: -255px;
}
.bulb{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 50px hsl(0, 0%, 100%), 0 0 100px hsl(55, 100%, 95%), 0 0 150px hsl(51, 100%, 99%);
    display: none;
}
.bulb::before{
    background: #fff;
}
.bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background: #fff171;
    border-radius: 50%;
    filter: blur(40px);
}
.bulb1{ left: 0px;}
.bulb2{ left: 120px;}
.bulb3{ left: 240px;}
.bulb4{ left: 360px;}
.bulb5{ left: 480px;}
.bulb6{ top: 130px; left: 0px;}
.bulb7{ top: 130px; left: 120px;}
.bulb8{ top: 130px; left: 240px;}
.bulb9{ top: 130px; left: 360px;}
.bulb10{ top: 130px; left: 480px;}

#h2S{
    font-family: "NanumB";
    font-weight: normal;
    color: #fff;
}
/* * * 슬라이드 영역 * * */
.wrap{
    position: relative;
    width: 250px;               /* .item의 width랑 맞춰야 함. */
    height: 400px;
    margin: 0 auto;
    perspective: 900px;         /* 깊이감 */
    top: 450px;
}
.carousel{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* border: 1px solid yellow; */
}
.item{
    position: absolute;
    display: block;
    width: 250px;
    border-radius: 10px;
    /* border: 1px solid red; */
}
.item img{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
}
.carousel-item:nth-child(1) {
    transform: rotateY(0deg) translateZ(350px);
}

.carousel-item:nth-child(2) {
    transform: rotateY(36deg) translateZ(350px);
}

.carousel-item:nth-child(3) {
    transform: rotateY(72deg) translateZ(350px);
}

.carousel-item:nth-child(4) {
    transform: rotateY(108deg) translateZ(350px);
}

.carousel-item:nth-child(5) {
    transform: rotateY(144deg) translateZ(350px);
}

.carousel-item:nth-child(6) {
    transform: rotateY(180deg) translateZ(350px);
}

.carousel-item:nth-child(7) {
    transform: rotateY(216deg) translateZ(350px);
}

.carousel-item:nth-child(8) {
    transform: rotateY(252deg) translateZ(350px);
}

.carousel-item:nth-child(9) {
    transform: rotateY(288deg) translateZ(350px);
}

.carousel-item:nth-child(10) {
    transform: rotateY(324deg) translateZ(350px);
}
.next, .prev {
    color: #444;
    position: absolute;
    top: 300px;
    padding: 10px 20px;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
}
.next {
    right: 5em;
    top: 700px;
}
.prev {
    left: 5em;
    top: 700px;
}

/* * * * * #choice영역 * * * * */
#choiceArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    /* border: 1px solid navy; */
    background: linear-gradient(135deg, #000 0%, #000 50%,/*#fff171 50%, #fff171 55%,*/ #780101 50%, #990101 55%, #777 55%, #777 100%);
}
h3{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 50%;
    margin-left: -150px;
    top: 50px;
    font-family: "NanumEB";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    color: #fff
}
section{
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
article{
    position: absolute;
    /* border: 1px solid red; */
    top: 200px;
}
article:last-child{
    left: 600px;
}
.choiceTitle{
    position: relative;
    width: 200px;
    top: 50px;
    left: 20px;
    z-index: 20;
}
.choiceTitle .bulb{
    position: absolute;
    top: 0;
}
.choiceTitle .bulb:last-child{
    right: 0;
}
.choiceTitle h4{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    width: 200px;
    text-align: center;

}
.frame{
    position: absolute;
    width: 450px;
    z-index: 10;
}
.choiceRank img{
    position: relative;
    width: 200px;
}
.choiceRank li:nth-child(1) img{
    left: 20px;
    top: 130px;
}
.choiceRank li:nth-child(2) img{
    left: 20px;
    top: 120px;
}
.choiceRank li:nth-child(3) img{
    left: 230px;
    top: -520px;
}
.choiceRank li:nth-child(4) img{
    left: 230px;
    top: -530px;
}
/* hover하면 이미지가 살짝 작게보이는 이벤트 하고싶었는데
테두리가 다 가리고 있어서 안 된다.. 링크도 안 걸림..
서터레스. 틀 따로 만들던가 해야됨.^^*/
/* .choiceRank :hover{
    width: 190px;
} */

/* * * more여깄다. * * */
.more{
    /* color: #fff; */
    position: absolute;
    top: 0;
    text-align: center;
}
.more a::after{
    font-family: "webIcon";
    content: "p";
}
.choiceRank .more{
    top: 650px;
    left: 370px;
    z-index: 30;
    /* border: 1px solid yellow; */
}
.choiceRank .more a{
    color: #ccc;
    /* border: 1px solid yellow; */
    padding: 10px;
}
/* * * * * #ticket영역 * * * * */
#ticketArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background: linear-gradient(45deg, #fff 0%, #fff 50%,/*#fff171 50%, #fff171 55%,*/ #780101 50%, #990101 55%, #777 55%, #777 100%);
}
#ticket{
    position: relative;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;

}


/* * * * * #community영역 * * * * */
#communityArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
    background: linear-gradient(135deg, #fff 0%, #fff 50%,/*#fff171 50%, #fff171 55%,*/ #990101 50%, #780101 55%, #000 55%, #000 100%);
}
#community{
    position: relative;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
    padding: 60PX;
}
#community h3{
    color: #000;
    font-weight: bold;
}
#freeBoard{
    position: relative;
    width: 600px;
    height: 700px;
    border: 1px solid salmon;
    top: 150px;
}
#community aside{
    position: relative;
    width: 300px;
    height: 700px;
    top: -550px;
    left: 600px;
    border: 1px solid slateblue;
    margin-left: 60px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 20px;
}
#community aside h4{
    font-family: "NanumEB";
    color: #333;
}
.comReview{
    position: relative;
    height: 300px;
    /* top:  */
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.comReview p{
    position: absolute;
    font-family: "Nanum";
    letter-spacing: -2px;
    word-spacing: 3px;
    line-height: 1.2em;
    background: #ccc;
    bottom: 0;
    padding: 20px;
}
.comReview .comReviewTitle{
    border-radius: 3px 3px 0 0 ;
    top: 100px;
}
.comReview .comReviewText:after{
    border: 1px solid #111;
}
.comReview .comReviewText{
    border-radius: 0 0 3px 3px;
}
.comReview img{
    position: absolute;
    top: 40px;
    left: 140px;
    width: 100px;
    border-radius: 30px;
    box-sizing: 0 0 30px #000;
}
/* * * * * #topic영역 * * * * */
#topicArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    /* border: 1px solid navy; */
}
#topic{
    position: relative;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
}