@charset "UTF-8";
body{
    background-color: #000;
    box-sizing: border-box;
}
#container{
    position: relative;
    width: 100%;
     /* background: linear-gradient(135deg, #000 0%, #000 40%,
        #fff171 40%, #fff171 41%, #000 41%, #000 60%,  #990101 60%, #990101 61%, #777 61%, #777 100%); */
}


/* * * * * * * * * * 공통영역 * * * * * * * * */

/* .more : 각 영역에서는 위치만 잡기(margin X)*/
.more{
    /* color: #fff; */
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    text-align: center;
    padding: 5px 5px 5px 10px; 
    z-index: 30;
    /* border: 1px solid yellow; */
    /* border: 3px solid #333; */
    box-shadow: 3px 3px 0px #333;
    border-radius: 20px;
    background: linear-gradient(to bottom, #990101 0%, #780101 100%);
    transition-property: margin-left, margin-top, box-shadow;
    transition-duration: 0.2s;
}
.more:hover{
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
    background: linear-gradient(to bottom, #780101 0%, #990101 100%);
}
.more a{
    color: #ccc;
    /* border: 1px solid yellow; */
}
.more a::after{
    font-family: "webIcon";
    content: "p";
}
/* h2 */
h2{
    position: absolute;
    /* border: 3px solid #780101; */
    width: 500px;
    height: 150px;
    left: 50%;
    top: 30px;
    margin-left: -250px;
    text-align: center;
    line-height: 150px;
    font-family: "NanumEB";
    font-weight: bold;
    font-size: 50px;
    color: #990101; /* 이 부분 색은 나중에 다시*/
    /* text-shadow: 0 0 20px rgb(255, 255, 142), 0 0 50px #fff, 0 0 100px #fff; */
}
/* h3 */
h3{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 50%;
    margin-left: -150px;
    top: 50px;
    font-family: "NanumEB";
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    color: #fff
}
/* h4*/
h4{
    font-family: "NanumEB";
    color: #333;
    font-size: 1.2em;
}
/* * * * * addClass 영역 * * * * */
.imgExpand{
    transform: scale(1.1);
}
/* * * quickMenu 영역 * * */
#quickMenu{
    position: fixed;
    left: 1700px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 10;
    cursor: pointer;
    display: none;
    /* background-color: #000; */
}
#quickMenu .up{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    background-position: 85% 4.5%; */
    z-index: 20;
    text-align: center;
}
#quickMenu .up span{
    position: relative;
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    top: -2px;
    text-align: center;
    line-height: 60px;
    font-size: 1.2em;
}
/* * * 커튼 영역 * * */
#curtain{
    position: relative;
    width: 100%;
    height: 1049px;
    /* border: 1px solid red; */
    margin: 0 auto;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/c_closed5.png) repeat-x;
    z-index: 90;
}
.curtain_front{
    position: fixed;
    width: 100%;
    height: 200px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    top: 0;
    box-sizing: border-box;
    background: url(../images/c_front.png) repeat-x;
    background-size: 100% 200px;
    z-index: 100;
}
/* * * * * header영역 * * * * */
header{
    position: relative;
    width: 100%;
    height: 200px;
    /* background: linear-gradient(#780101 0%, #990101 100%) ; */
    /* z-index: 1000; */
}
h1{
    z-index: 3000;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 200px;
    text-align: center;
    top: 40px;
    color: #aaa;
}
h1 img{
    position: fixed;
    width: 200px;
}

nav{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    /* z-index: 1000; */
    /* border: 1px solid salmon; */
}
#tMenu_form{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: none;
}
#tMenu{
    position: relative;
    z-index: 1000;
    width: 1000px;
    height: 50px;
    top: 80px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid #fff; */
    clear: both;
}
#tMenu>li>a{
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
}
#tMenu>li:hover>a{
    text-shadow: 0 0 10px #fff171;
}
#tMenu>li{
    float: left;
    width: 25%;
    text-align: center;
}
#tMenu li a{
    font-family: "NanumEB";
    color: #fff;
}
.tMenuSecond{
    /* display: none; */
    position: absolute;
    display: inline-block;
    width: 500px;
    /* border: 1px solid yellow; */
    clear: both;
}
.tMenuInfo .tMenuSecond{
    left: -60px;
    top: 60px;
    display: none;
}
.tMenuBooking .tMenuSecond{
    left: 125px;
    top: 60px;
    display: none;
}
.tMenuCommu .tMenuSecond{
    width: 900px;
    left: 180px;
    top: 60px;
    display: none;
}
.tMenuMy .tMenuSecond{
    left: 750px;
    top: 60px;
}

.tMenuSecond li{
    display: inline-block;
    /* border: 1px solid #fff; */
}
.tMenuSecond li::after{
    content: "·";
    color: #fff;
}
.tMenuSecond li:last-child::after{
    content: "";
}
.tMenuSecond a{
    text-align: center;
    padding: 0 10px;
    margin: 0;
    /* display: inline-block; */
    /* width: 200px; */
}
/*내 정보 영역. 로그인 하면 로그인 대신 보임*/
#login{
    /* display: none; */
}
#myInfo{
    display: none;
}
.tMenuSecond li a{
    text-align: center;
}
/*검색 영역*/
#search{
    position: relative;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    left: 30%;
    top: -50px;
}
#search .like_fieldset{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 30px;
    right: 0;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.3;
}
/* 체크 투명도 조절이 안 되네. js로 하던가 해야겠다. */
#search .like_fieldset:focus{
    opacity: 1;
}
#search legend{
    display: none;
}
#search input, #search button{
    border: none;
    height: 25px;
    border-radius: 3px;
}
#search button{
    width: 20px;
    background-color: #fff;
}
.hidden{
    text-indent: -5px;
    overflow: hidden;
}
#search button img{
    position: relative;
    width: 20px;
    top: 5px;
    cursor: pointer;
}

/* * * * * #nowShowing영역 * * * * */
#nowShowing{
    position: fixed;
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    /* background-image: url(../images/c_open.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
}
/* w전구w */
.bulbBox{
    display: flex;
    position: relative;
    width: 500px;
    left: 50%;
    top: 30px;
    margin-left: -255px;
}
.bulb{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 50px hsl(0, 0%, 100%), 0 0 100px hsl(55, 100%, 95%), 0 0 150px hsl(51, 100%, 99%);
    display: none;
}
.bulb::before{
    background: #fff;
}
.bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background: #fff171;
    border-radius: 50%;
    filter: blur(40px);
}
.bulb1{ left: 0px;}
.bulb2{ left: 120px;}
.bulb3{ left: 240px;}
.bulb4{ left: 360px;}
.bulb5{ left: 480px;}
.bulb6{ top: 130px; left: 0px;}
.bulb7{ top: 130px; left: 120px;}
.bulb8{ top: 130px; left: 240px;}
.bulb9{ top: 130px; left: 360px;}
.bulb10{ top: 130px; left: 480px;}

#h2S{
    font-family: "NanumB";
    font-weight: normal;
    color: #fff;
}
/* * * 슬라이드 영역 * * */
.wrap{
    position: relative;
    width: 250px;               /* .item의 width랑 맞춰야 함. */
    height: 400px;
    margin: 0 auto;
    perspective: 900px;         /* 깊이감 */
    top: 450px;
}
.carousel{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* border: 1px solid yellow; */
}
.item{
    position: absolute;
    display: block;
    width: 250px;
    border-radius: 10px;
    /* border: 1px solid red; */
}
.item img{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
}
.carousel-item:nth-child(1) {
    transform: rotateY(0deg) translateZ(350px);
}

.carousel-item:nth-child(2) {
    transform: rotateY(36deg) translateZ(350px);
}

.carousel-item:nth-child(3) {
    transform: rotateY(72deg) translateZ(350px);
}

.carousel-item:nth-child(4) {
    transform: rotateY(108deg) translateZ(350px);
}

.carousel-item:nth-child(5) {
    transform: rotateY(144deg) translateZ(350px);
}

.carousel-item:nth-child(6) {
    transform: rotateY(180deg) translateZ(350px);
}

.carousel-item:nth-child(7) {
    transform: rotateY(216deg) translateZ(350px);
}

.carousel-item:nth-child(8) {
    transform: rotateY(252deg) translateZ(350px);
}

.carousel-item:nth-child(9) {
    transform: rotateY(288deg) translateZ(350px);
}

.carousel-item:nth-child(10) {
    transform: rotateY(324deg) translateZ(350px);
}
.next, .prev {
    position: absolute;
    /* background-color: #fff; */
    display: inline-block;
    width: 30px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.next {
    background-position: 48% 15%;
    left: 600px;
    top: 50px;
}
.prev {
    background-position: 42% 15%;
    left: -400px;
    top: 50px;
}

/* * * * * #choice영역 * * * * */
#choiceArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 1800px auto 0;
    background: linear-gradient(135deg, #000 0%, #000 50%, #780101 50%, #990101 55%, #777 55%, #777 100%);
}
section{
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
article{
    position: absolute;
    top: 200px;
}
article:last-child{
    left: 600px;
}
.choiceTitle{
    position: relative;
    width: 200px;
    top: 50px;
    left: 20px;
    z-index: 1000;
}
.choiceTitle .bulb{
    position: absolute;
    top: -5px;
}
.choiceTitle .bulb:last-child{
    right: 0;
}
.choiceTitle h4{
    position: relative;
    color: #fff;
    font-size: 1.2em;
    width: 200px;
    text-align: center;
}
.frame{
    position: absolute;
    width: 450px;
    z-index: 999;
    pointer-events: none;
}
.choiceRank{
    position: relative;
    width: 450px;
    height: 680px;
}
.choiceRank>div{
    position: absolute;
    width: 199px;
    height: 266px;
    display: inline-block;
    overflow: hidden;
}
.choiceRank img{
    position: relative;
    width: 200px;
    display: inline-block;
}
.choiceRank div:nth-child(1){
    left: 20px;
    top: 130px;
}
.choiceRank div:nth-child(2){
    left: 20px;
    top: 398px;
}
.choiceRank div:nth-child(3){
    left: 230px;
    top: 20px;
}
.choiceRank div:nth-child(4){
    left: 230px;
    top: 280px;
}
/* hover하면 이미지가 살짝 작게보이는 이벤트 하고싶었는데
테두리가 다 가리고 있어서 안 된다.. 링크도 안 걸림..
서터레스. 틀 따로 만들던가 해야됨.^^*/
/* .choiceRank :hover{
    width: 190px;
} */


.choiceRank .more{
    top: 620px;
    left: 355px;
    /* border: 1px solid yellow; */
}
/* * * * * #ticket영역 * * * * */
#ticketArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background: #fff;
    /* background: linear-gradient(45deg, #fff 0%, #fff 50%, #780101 50%, #990101 55%, #777 55%, #777 100%); */
    box-sizing: border-box;
}
#ticket{
    position: relative;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    /* border: 1px solid navy; */
}
#ticket h3{
    color: #000;
}
#ticketBox, #ticketSpecialBox{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    top: 350px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* border: 1px solid #000; */
}
#ticketBox{
    top: 200px;
}
#ticketSpecialBox{
    top: 200px;
}
#ticket h4{
    position: relative;
    display: block;
    width: 150px;
    /* padding: 0 10px; */
    /* text-align: center; */
    margin-left: 56px;
    margin-bottom: 20px;
    background-color: #fff;
    z-index: 10;
}
#ticket .line{
    position: absolute;
    width: 900px;
    height: 0px;
    border: 1px solid #ccc;
    top: 5px;
    left: 56px;
    z-index: 1;
}
.ticketSaleBox{
    position: relative;
    float: left;
    margin-right: 56px;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid #ccc;
    width: 199px;
    height: 262px;
}
.ticketSaleBox1{
    margin-left: 56px;
    width: 199px;
}
.ticketSaleBox img{
    width: 100%;
}
.ticketSaleBox .ticketText{
    position: absolute;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-top: 200px;
    font-family: "Nanum";
    top: -180px;
    left: -50px;
    z-index: 10;
    box-shadow: 30px 30px 30px #fff, -30px 30px 30px #fff;
}
.ticketSaleBox p{
    color: #990101;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}
.ticketSaleBox p::after{
    position: absolute;
    width: 30px;
    height: 0px;
    border: 1px solid #990101;
    content: "";
    bottom: 70px;
    left: 134px;
}
.ticketSaleBox span{
    position: relative;
    bottom: -20px;
    font-size: 0.9em;
}
.ticketSaleBox b{
    position: relative;
    display: block;
    bottom: -25px;
    font-family: "Nanum";
    font-weight: bold;
}
#ticket .more{
    left: 950px;
    top: 320px;
}



/* * * * * #community영역 * * * * */
#communityArea{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background: linear-gradient(135deg, #fff 0%, #fff 50%,/*#fff171 50%, #fff171 55%,*/ #780101 50%, #990101 55%, #000 55%, #000 100%);
}
#community{
    position: relative;
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    padding: 30PX;
}
#community h3{
    color: #000;
    font-weight: bold;
}
/* 자유게시판 영역 */
#freeBoard{
    position: relative;
    width: 660px;
    height: 700px;
    padding: 20px;
    /* border: 1px solid salmon; */
    top: 150px;
    background-image: linear-gradient(135deg, #eee 0%,#fff 30%, #fff 100%);
    border-radius: 10px;
}
#freeBoard table{
    position: relative;;
    width: 600px;
    margin: 30px auto;
    /* border: 3px solid #ccc; */
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden;
    box-shadow: 0 0 0 3px #ccc;
    font-family: "NanumR";
    text-align: center;
    line-height: 3em;
}
#freeBoard table th{
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
    background-color: #eee;
    text-align: center;
}
#freeBoard table tr{
    border-bottom: 3px dashed #eee;
    background-color: #fff;
}
#freeBoard table tr:first-of-type{
    border-bottom: none;
}
.fBNum{
    width: 50px;
    /* border-right: 1px dashed navy; */
}
.fBTitle{
    width: 450px;
    text-align: justify;
    padding-left: 20px;
    /* border: 1px solid salmon; */
}
td.fBTitle:hover{
    text-decoration: underline;
    text-decoration-color: #555;
}
.fBAuthor{
    width: 100px;
    /* border: 1px solid yellow; */
}
#freeBoard .more{
    /* right: 0px; */
    top: 650px;
    left: 550px;
}


/* 관람후기 영역*/
#community aside{
    position: relative;
    width: 330px;
    height: 700px;
    top: -550px;
    left: 660px;
    /* border: 1px solid slateblue; */
    margin-left: 30px;
    background-image: linear-gradient(135deg, #eee 0%,#fff 30%, #fff 100%);
    border-radius: 10px;
    padding: 20px;
}
.comReview{
    position: relative;
    height: 280px;
    /* top:  */
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
}
.comReview p{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "NanumR";
    letter-spacing: -1px;
    word-spacing: 5px;
    text-align: justify;
    padding: 20px;
    /* box-shadow: 3px 3px 3px #555; */
}
.comReview .comReviewTitle{
    position: relative;
    border-radius: 3px;
    top: 79px;
    height: 80px;
    padding: 0 10px;
    /* padding-top: 30px; */
    border: 3px solid #780101;
    line-height: 80px;
    border-bottom: 3px dashed #780101;
    background-image: linear-gradient(135deg, #fff 0%, #ddd 0%, #fff 0%, #fff 100% );
    /* transition: background-image 1s; */
    z-index: 1;
}
.comReview .comReviewTitle:before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        135deg,
        /*#fff 0%, #fff 10%,*/
        #aaa 0%, #ddd 15%, 
        #fff 15%, #fff 100%
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;

}
.comReview:hover .comReviewTitle::before{
    opacity: 1;
    /* background-image: linear-gradient(
        to bottom,
        #fff 0%, #fff 10%,
        #aaa 10%, #ddd 15%, 
        #fff 15%, #fff 100%
        ); */
    /* background: wheat; */
}
.comReview .comReviewText{
    border-radius: 3px;
    /* background: linear-gradient(#ccc 0%, #fff 100%); */
    border: 3px solid #000;
    line-height: 1.2em;
    border-top: none;
}
.comReview .asideImage{
    position: absolute;
    top: 10px;
    left: 160px;
    width: 99px;
    height: 131px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #555;
    /* background-color: #fff; */
    /* border: 1px solid navy; */
    overflow: hidden;
    z-index: 10;
}
.comReview img{
    position: relative;
    max-width: 100%;
    border-radius: 30px;
    /* box-shadow: 3px 3px 3px #555; */
    transition: all 1s;
}
aside>.more{
    /* height: 30px; */
    left: 220px;
    top: 650px;
}

/* * * * * #topic영역 * * * * */
#topicArea{
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    /* border: 1px solid navy; */
    /* background: linear-gradient(45deg, #000 0%, #000 50%,#fff171 50%, #fff171 55%, #780101 50%, #990101 55%, #777 55%, #777 100%); */
    background: #000;
}
#topic{
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #fff; */
    overflow: hidden;
}
#topic h3{
    display: none;
}
#topicTicket{
    position: relative;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    top: 200px;
    /* border: 1px solid #000; */
    transform: rotate(10deg);
    box-sizing: border-box;
}
#topicTicketA{
    position: relative;
    float: left;
    width: 550px;
    height: 100%;
    background-image: linear-gradient(to bottom, #8f1709 0%, #ED213A 100%);
    /* outline: 10px dotted #fff; */
    outline-offset: -5px;
    transition: transform 1s;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
#topicTicketA::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "MuP Topic";
    font-family: sans-serif;
    font-size: 11em;
    font-weight: bold;
    text-align: center;
    top: -50px;
    color: rgba(255, 255, 255, 0.1);
}
.topicTicketAAfter{
    position: absolute;
    font-size: 20px;
    /* 체크 이거 js로 할 때,배경색 받아와서 컬러 적용하면 좋겠다 */
    color: #000;
    right: -10px;
    top: 0;
	writing-mode: vertical-rl;
}
#topicTicketA p{
    position: absolute;
    top: 80px;
    left: 50px;
    width: 450px;
    margin: 0 auto;
    color: #fff;
    font-family: "NanumEB";
    text-align: center;
}
#topicTicketA .topicHover{
    opacity: 1;
    font-size: 2.5em;
    line-height: 80px;
    transition: opacity 1s;
}
#topicTicketA .topicHover span{
    display: inline-block;
    font-size: 0.5em;
}
#topicTicketA .topicTitle{
    opacity: 0;
    font-size: 2em;
    transition: opacity 1s;
}
#topicTicketA .topicText{
    opacity: 0;
    top: 140px;
    font-size: 1.5em;
    line-height: 1.5em;
    transition: opacity 1s;
}
#topicTicketB{
    position: relative;
    float: right;
    width: 248px;
    height: 100%;
    background-image: linear-gradient(to bottom, #555 0%, #333 100%);
    /* background-image: linear-gradient(to bottom, #ffdf8fc0 0%, #d6af43 100%); */
    opacity: 1;
    transition: transform 3s, opacity 5s;
    border-radius: 20px;
    overflow: hidden;
    /* 체크 왜 테두리 안 없어져??????? */
    border: none;
    cursor: pointer;
}
#topicTicketB p{
    content: "";
	writing-mode: vertical-rl;
}
.topicTicketBBefore {
    position: absolute;
    font-size: 20px;
	writing-mode: vertical-rl;
    /* 체크 이거 js로 할 때,배경색 받아와서 컬러 적용하면 좋겠다 */
    color: #000;
    left: -10px;
}
#topicTicketB::after{
    position: absolute;
    right: -10px;
	content: "MuP Topic";
    font-family: sans-serif;
	font-size: 3.5em;
	font-stretch: 85%;
	font-weight: bold;
	writing-mode: vertical-lr;
	letter-spacing: 1px;
    text-align: center;
    color: #fff;

}
#barcode {
    position: absolute;
    transform: rotate(90deg) scale(1.5);
    height: 4em;
    width: 0;
    left: 80px;
    top: 20px;
    box-shadow: 1px 0 0 1px #000,
    5px 0 0 1px #000,10px 0 0 1px #000,14px 0 0 1px #000,22px 0 0 1px #000,23px 0 0 1px #000,
    28px 0 0 1px #000,35px 0 0 1px #000,42px 0 0 1px #000,48px 0 0 1px #000,50px 0 0 1px #000,
    53px 0 0 1px #000,60px 0 0 1px #000,64px 0 0 1px #000,67px 0 0 1px #000,70px 0 0 1px #000,
    74px 0 0 1px #000,83px 0 0 1px #000,85px 0 0 1px #000,92px 0 0 1px #000,97px 0 0 1px #000,
    98px 0 0 1px #000,105px 0 0 1px #000,108px 0 0 1px #000,116px 0 0 1px #000,124px 0 0 1px #000,
    127px 0 0 1px #000,131px 0 0 1px #000;
}
/* 체크 지금은 hover로 설정주고 나중에 js로 가서 클릭이벤트 줄 것 */
/* #topicTicket:hover #topicTicketA{
    transform: rotate(-10deg) scale(1.1, 1.1);
}
#topicTicket:hover #topicTicketB{
    transform: rotate(45deg) scale3d(0.7,0.7,0.3) translate(500px, 0px);
    opacity: 0;
}
#topicTicket:hover #topicTicketA .topicHover{
    opacity: 0;
}
#topicTicket:hover .topicTitle{
    opacity: 1;
}
#topicTicket:hover .topicText{
    opacity: 1;
} */

/* 토픽-버튼영역 */
#topicArea .topicBtn{
    position: relative;
    top: 360px;
    width: 100%;
    height: 80px;
    /* border: 1px solid yellow; */
    padding: 0 0 0 5px;
    cursor: pointer;
}
.topicBtn button{
    position: absolute;
    width: 250px;
    height: 80px;
    background-image: linear-gradient(to bottom, #555 0%, #333 100%);
    outline: 5px dotted #ccc;
    outline-offset: -10px;
    color: #fff;
    font-family: "NanumEB";
    font-size: 1em;
}
.topicBtn button:hover{
    outline-color: #f8b500;
    /* box-shadow: -1px -1px 1px #f8b500; */
    /* font-size: 1.1em; */
    font-size: 1.1em;
}
.topicBtn .topicComWrite{
    left: 80px;
}
.topicBtn .topicBlogWrite{
    left: 410px;
}
.topicBtn .topicOthers{
    left: 740px;
}
/* * * * * footer영역 * * * * */
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #333;
    background-image: linear-gradient(to bottom, #000, transparent);
}
#foot{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 200px;
    text-align: center;
    color: #aaa;
    /* border: 1px solid yellow; */
}
#foot_list{
    position: relative;
    padding-bottom: 30px;
    margin: 0 auto 50px;
    width: 500px;
}
#foot_list:after{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 2px;
    top: 30px;
    left: 0;
    background-color: #fff;
    border-radius: 3px;
    content: "";
    
}
#foot_list li{
    display: inline-block;
    padding-right: 10px;
}
#foot_list li::after{
    content: "·";
}
#foot_list li:last-child::after{
    content: "";
}
#foot_list li a{
    color: #777;
    padding-right: 10px;
}
#foot address>p{
    position: relative;
    top: -5px;
}
#foot address>p>span{
    border-right: 1px solid #aaa;
    padding: 0 10px;
}
#foot address>p>span:last-child{
    border-right: none;
}

