/* index */
@charset "UTF-8";

/* * * * * #nowShowing영역 * * * * */
#nowShowing{
    position: relative;
    width: 100%;
    height: 900px;
    border: 1px solid navy;
    background-color: rgb(26, 23, 23);
}
h2{
    position: absolute;
    border: 3px solid red;
    width: 500px;
    height: 150px;
    left: 50%;
    top: 30px;
    margin-left: -250px;
    text-align: center;
    line-height: 150px;
    font-family: "NanumEB";
    font-weight: bold;
    font-size: 50px;
    color: red;
}
#h2S{
    font-family: "NanumB";
    font-weight: normal;
    color: #fff;
}
#nowShowing>ul{
    position: relative;
    margin: 0 auto;
    /* white-space: nowrap;
    overflow: hidden; */
}
#nowShowing li{
    position: relative;
    float: left;
    margin: 10px;
    top: 300px;
    width: 160px;
}
#nowShowing img{
    position: relative;
    width: 100%;
    margin-right: 10px;
}

/* * * * * #choice영역 * * * * */
#choice{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
}
h3{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 50%;
    margin-left: -150px;
    top: 50px;
    font-family: "NanumEB";
    font-size: 40px;
    text-align: center;
}
#choice section{
    position: relative;
}
#choice article{
    position: relative;
    float: left;
    width: 430px;
    height: 760px;
    padding: 18px;
    margin: 2px;
    top: 150px;
    left: 45px;
}
#choice .choiceNow{
    border-right: 1px solid #999;
}
#choice .choiceExpect{
    border-left: 1px solid #999;
}
#choice ol{
    position: absolute;
    margin: 0 auto;
    width: 400px;
    left: 15px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ccc 0%, #fff 100%);
}
#choice ol li{
    position: relative;
    counter-increment: number;
}
/* 숫자 위치 크기 생김새 다 거지같음 */
#choice ol li::before{
    position: relative;
    top: -30px;
    /* left: 30px; */
    content: counter(number, decimal);
    font-family: "NanumEB";
    font-size: 45px;
    font-style: italic;
    text-shadow: 5px 5px 1px #aaa;
}
#choice img{
    width: 100px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 7px #777;
    margin: 0 10px;
}
.choiceTitle{
    position: absolute;
    top: 30px;
    left: 160px;
    display: inline-block;
    width: 150px;
    /* border: 1px solid navy; */
    font-family: "NanumB";
    font-size: 20px;
}
.choiceText{
    position: absolute;
    width: 200px;
    top: 70px;
    border: 1px solid navy;
}




/* * * * * #ticket영역 * * * * */
#ticket{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
}
/* * * * * #community영역 * * * * */
#community{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
}
/* * * * * #topic영역 * * * * */
#topic{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid navy;
}