@charset "UTF-8";
/* index제외 탑메뉴 */
#tMenu{
    position: relative;
    width: 1080px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    /* border: 1px solid #fff; */
    clear: both;
}
#tMenu>li{
    position: relative;
    padding: 0 70px;
}
#tMenu>li>a{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
}
#tMenu>li>a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    top: 50px;
    left: 0px;
    background-color: #790101;
    transition: width 1s;
}
#tMenu>li:hover>a::after{
    width: 100%;
}
#tMenu>li{
    float: left;
    width: 25%;
    text-align: center;
}
#tMenu li a{
    font-family: "NanumB";
    color: #333;
}
.tMenuSecond{
    /* display: none; */
    position: absolute;
    display: inline-block;
    width: 500px;
    display: none;
    clear: both;
}
/*검색 영역*/
#search{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 0;
    right: 100px;
    /* border: 1px solid red; */
    /* border: 1px solid yellow; */
}
#search .like_fieldset{
    position: absolute;
    width: 250px;
    height: 40px;
    top: 30px;
    background-color: #fff;
    border-radius: 3px;
}
/* 체크 투명도 조절이 안 되네. js로 하던가 해야겠다. */
#search legend{
    display: none;
}
#search input{
    border: none;
    border-bottom: 3px solid #ccc;
    height: 40px;
    width: 200px;
}
#search input:focus{
    outline: none;
    border-bottom: 2px solid #333;
    transition: all 1s;
}
#search button{
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    height: 25px;
    border-radius: 3px;
    width: 20px;
    background-color: #fff;
}
.hidden{
    text-indent: -5px;
    overflow: hidden;
}
#search button img{
    position: relative;
    width: 20px;
    top: 5px;
    cursor: pointer;
}

#container{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
}
#contents{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 100px;
    padding-top: 100px;
}
#contents_title{
    position: relative;
    background: #222;
    border-top: 5px solid #780101;
    border-bottom: 1px solid #777;
    margin-bottom: 30px;
}
#contents_title table{
    z-index: 100;
    background: #222;
    line-height: 75px;
}
#contents_title td:nth-child(1){
    width: 500px;
    padding-left: 50px;
    color: #fff;
    font-weight: bold;
}
#contents_title td:nth-child(2){
    width: 550px;
    text-align: right;
    padding-right: 30px;
}
#contents_title td:nth-child(2) span{
    padding: 0 10px;
    color: #fff;
}
#contents_title td:nth-child(2) span:first-child{
    border-right: 1px solid #777;
}
#contents_title td:nth-child(3){
    width: 170px;
}
#contents_title td:nth-child(3) a{
    position: relative;
    display: inline-block;
    width: 135px;
    height: 40px;
    background: #780101;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
#contents_main{
    z-index: 1;
    position: relative;
}
.contents_page{
    position: relative;
}
.contents_video{
    position: absolute;
    display: block;
    top: 730px;
    z-index: 10;
}